---
- name: Full vCenter Setup (NFS, Tags, Cluster HA/DRS)
  hosts: localhost
  gather_facts: false
  vars:
    vcenter_host: "192.168.50.52"
    vcenter_user: "administrator@vsphere.local"
    vcenter_pass: "VMware1!VMware1!"
    dc_name: "datacenter"
    cluster_name: "cluster"
    
    # NFS Vars
    nfs_server_ip: "192.168.50.53"
    nfs_path: "/mnt/nfs1"
    ds_name: "nfs1"
    target_hosts:
      - "192.168.50.11"
      - "192.168.50.12"

  tasks:
    # 1. MOUNT NFS (Using community collection as it handles host-level storage mounting)
    - name: Mount NFS Datastore to Hosts
      community.vmware.vmware_host_datastore:
        hostname: "{{ vcenter_host }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_pass }}"
        validate_certs: false
        esxi_hostname: "{{ item }}"
        datastore_name: "{{ ds_name }}"
        datastore_type: nfs
        nfs_server: "{{ nfs_server_ip }}"
        nfs_path: "{{ nfs_path }}"
        state: present
      loop: "{{ target_hosts }}"

    # 2. TAGGING (Using vmware.vmware collection)
    - name: Create Tag Category
      vmware.vmware.tag_categories:
        vcenter_hostname: "{{ vcenter_host }}"
        vcenter_username: "{{ vcenter_user }}"
        vcenter_password: "{{ vcenter_pass }}"
        vcenter_validate_certs: false
        name: "k8"
        cardinality: "SINGLE"
        associable_types:
          - Datastore
        state: present

    - name: Create Tag
      vmware.vmware.tags:
        vcenter_hostname: "{{ vcenter_host }}"
        vcenter_username: "{{ vcenter_user }}"
        vcenter_password: "{{ vcenter_pass }}"
        vcenter_validate_certs: false
        name: "k8"
        category: "k8"
        state: present

    - name: Attach Tag to Datastore
      vmware.vmware.tag_associations:
        vcenter_hostname: "{{ vcenter_host }}"
        vcenter_username: "{{ vcenter_user }}"
        vcenter_password: "{{ vcenter_pass }}"
        vcenter_validate_certs: false
        tag: "k8"
        category: "k8"
        object_name: "{{ ds_name }}"
        object_type: Datastore
        state: present

    # 3. CLUSTER CONFIG (Added required 'datacenter' parameter)
    - name: Enable HA on Cluster
      vmware.vmware.cluster_ha:
        vcenter_hostname: "{{ vcenter_host }}"
        vcenter_username: "{{ vcenter_user }}"
        vcenter_password: "{{ vcenter_pass }}"
        vcenter_validate_certs: false
        datacenter: "{{ dc_name }}"  # Added this
        cluster: "{{ cluster_name }}"
        enable: true
        ha_restart_priority: medium
        state: present

    - name: Enable DRS on Cluster
      vmware.vmware.cluster_drs:
        vcenter_hostname: "{{ vcenter_host }}"
        vcenter_username: "{{ vcenter_user }}"
        vcenter_password: "{{ vcenter_pass }}"
        vcenter_validate_certs: false
        datacenter: "{{ dc_name }}"  # Added this
        cluster: "{{ cluster_name }}"
        enable: true
        drs_automation_level: fullyAutomated
        state: present