---
- name: Full vCenter Setup (NFS, Tags, Cluster HA/DRS)
  hosts: localhost
  gather_facts: false
  vars:
    vcenter_host: "192.168.50.52"
    vcenter_user: "administrator@vsphere.local"
    vcenter_pass: "VMware1!VMware1!"
    dc_name: "datacenter"
    cluster_name: "cluster"
    
    # NFS Vars
    nfs_server_ip: "192.168.50.53"
    nfs_path: "/mnt/nfs1"
    ds_name: "nfs1"
    target_hosts:
      - "192.168.50.11"
      - "192.168.50.12"

  tasks:
    # 1. MOUNT NFS
    - name: Mount NFS Datastore to Hosts
      community.vmware.vmware_host_datastore:
        hostname: "{{ vcenter_host }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_pass }}"
        validate_certs: false
        esxi_hostname: "{{ item }}"
        datastore_name: "{{ ds_name }}"
        datastore_type: nfs
        nfs_server: "{{ nfs_server_ip }}"
        nfs_path: "{{ nfs_path }}"
        state: present
      loop: "{{ target_hosts }}"

    # 2. TAGGING
    - name: Create Tag Category
      vmware.vmware.tag_categories:
        hostname: "{{ vcenter_host }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_pass }}"
        validate_certs: false
        state: present
        tag_categories:
          - name: "k8"
            cardinality: "SINGLE"
            # Using the exact API strings expected by the vCenter REST API
            associable_types:
              - Datastore
              - ClusterComputeResource
              - VirtualMachine

    - name: Create Tag
      vmware.vmware.tags:
        hostname: "{{ vcenter_host }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_pass }}"
        validate_certs: false
        state: present
        tags:
          - name: "k8"
            category_name: "k8"  # Confirmed as required by your tags.py output

    - name: Attach Tag to Datastore
      vmware.vmware.tag_associations:
        hostname: "{{ vcenter_host }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_pass }}"
        validate_certs: false
        state: present
        object_name: "{{ ds_name }}"
        object_type: Datastore
        tags:
          - name: "k8"
            category_name: "k8"

    # 3. CLUSTER CONFIG
    - name: Enable HA/DRS (Using standard parameters)
      vmware.vmware.cluster_ha:
        hostname: "{{ vcenter_host }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_pass }}"
        validate_certs: false
        datacenter: "{{ dc_name }}"
        cluster: "{{ cluster_name }}"
        enable: true
        state: present

    - name: Enable DRS
      vmware.vmware.cluster_drs:
        hostname: "{{ vcenter_host }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_pass }}"
        validate_certs: false
        datacenter: "{{ dc_name }}"
        cluster: "{{ cluster_name }}"
        enable: true
        drs_automation_level: fullyAutomated
        state: present