---
- name: VMware NFS Mounting and K8s Tagging
  hosts: localhost
  connection: local
  gather_facts: false
  vars:
    # vCenter connection details
    vcenter_hostname: "192.168.50.52"
    vcenter_user: "administrator@vsphere.local"
    vcenter_password: "VMware1!VMware1!"

    # NFS configurations
    nfs_server_ip: "192.168.50.53"
    nfs_export_path: "/mnt/nfs1"
    datastore_name: "nfs1"

    # Tagging configurations for TKGS
    tag_name: "k8"
    category_name: "k8"

    # Target ESXi hosts
    esxi_hosts:
      - "192.168.50.11"
      - "192.168.50.12"

  tasks:
    - name: Create Tag Category for Kubernetes
      vmware.vmware.vmware_category:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_password }}"
        validate_certs: false
        name: "{{ category_name }}"
        description: "Category for TKGS Storage Policies"
        cardinality: single
        associable_types:
          - Datastore
        state: present

    - name: Create Tag within Category
      vmware.vmware.vmware_tag:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_password }}"
        validate_certs: false
        tag_name: "{{ tag_name }}"
        category_name: "{{ category_name }}"
        state: present

    - name: Mount NFS Datastore to ESXi Hosts
      vmware.vmware.vmware_host_datastore:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_password }}"
        validate_certs: false
        datastore_name: "{{ datastore_name }}"
        datastore_type: nfs
        nfs_server: "{{ nfs_server_ip }}"
        nfs_path: "{{ nfs_export_path }}"
        nfs_ro: false
        esxi_hostname: "{{ item }}"
        state: present
      loop: "{{ esxi_hosts }}"

    - name: Apply k8 Tag to the Datastore
      vmware.vmware.vmware_tag_manager:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_password }}"
        validate_certs: false
        tag_names:
          - "{{ tag_name }}"
        object_name: "{{ datastore_name }}"
        object_type: Datastore
        state: add