# 2. TAGGING (Updated for official vmware.vmware syntax)
    - name: Create Tag Category
      vmware.vmware.tag_categories:
        vcenter_hostname: "{{ vcenter_host }}"
        vcenter_username: "{{ vcenter_user }}"
        vcenter_password: "{{ vcenter_pass }}"
        vcenter_validate_certs: false
        # The module expects a list of category definitions
        tag_categories:
          - name: "k8"
            cardinality: "SINGLE"
            associable_types:
              - Datastore
            state: present

    - name: Create Tag
      vmware.vmware.tags:
        vcenter_hostname: "{{ vcenter_host }}"
        vcenter_username: "{{ vcenter_user }}"
        vcenter_password: "{{ vcenter_pass }}"
        vcenter_validate_certs: false
        # The module expects a list of tag definitions
        tags:
          - name: "k8"
            category: "k8"
            state: present

    - name: Attach Tag to Datastore
      vmware.vmware.tag_associations:
        vcenter_hostname: "{{ vcenter_host }}"
        vcenter_username: "{{ vcenter_user }}"
        vcenter_password: "{{ vcenter_pass }}"
        vcenter_validate_certs: false
        tag: "k8"
        category: "k8"
        object_name: "{{ ds_name }}"
        object_type: Datastore
        state: present