---
- name: Full vCenter Setup (NFS, Tags, Cluster HA/DRS)
  hosts: localhost
  gather_facts: false
  vars:
    vcenter_host: "192.168.50.52"
    vcenter_user: "administrator@vsphere.local"
    vcenter_pass: "VMware1!VMware1!"
    dc_name: "datacenter"
    cluster_name: "cluster"
    
    # NFS Vars
    nfs_server_ip: "192.168.50.53"
    nfs_path: "/mnt/nfs1"
    ds_name: "nfs1"
    target_hosts:
      - "192.168.50.11"
      - "192.168.50.12"

  tasks:
    # 1. MOUNT NFS
    - name: Mount NFS Datastore to Hosts
      community.vmware.vmware_host_datastore:
        hostname: "{{ vcenter_host }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_pass }}"
        validate_certs: false
        esxi_hostname: "{{ item }}"
        datastore_name: "{{ ds_name }}"
        datastore_type: nfs
        nfs_server: "{{ nfs_server_ip }}"
        nfs_path: "{{ nfs_path }}"
        state: present
      loop: "{{ target_hosts }}"

    # 2. TAGGING
    - name: Create Tag Category
      vmware.vmware.tag_categories:
        hostname: "{{ vcenter_host }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_pass }}"
        validate_certs: false
        state: present
        tag_categories:
          - name: "k8"
            cardinality: "SINGLE" # Matches "One tag" in your screenshot
            associable_types:
              - Datastore
              - ClusterComputeResource # Matches "Cluster" in screenshot
              - VirtualMachine         # Matches "Virtual Machine" in screenshot

    - name: Create Tag
      vmware.vmware.tags:
        hostname: "{{ vcenter_host }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_pass }}"
        validate_certs: false
        state: present
        tags:
          - name: "k8"
            category_name: "k8" # Changed from 'category' to 'category_name'

    - name: Attach Tag to Datastore
      vmware.vmware.tag_associations:
        hostname: "{{ vcenter_host }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_pass }}"
        validate_certs: false
        tag: "k8"
        category: "k8"
        object_name: "{{ ds_name }}"
        object_type: Datastore
        state: present

    # 3. CLUSTER CONFIG
    - name: Enable HA on Cluster
      vmware.vmware.cluster_ha:
        hostname: "{{ vcenter_host }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_pass }}"
        validate_certs: false
        datacenter: "{{ dc_name }}"
        cluster: "{{ cluster_name }}"
        enable: true
        ha_restart_priority: medium
        state: present

    - name: Enable DRS on Cluster
      vmware.vmware.cluster_drs:
        hostname: "{{ vcenter_host }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_pass }}"
        validate_certs: false
        datacenter: "{{ dc_name }}"
        cluster: "{{ cluster_name }}"
        enable: true
        drs_automation_level: fullyAutomated
        state: present