---
- name: Stage 2 - Execute VCSA Upgrade
  hosts: vcsa_nodes
  gather_facts: false

  tasks:
    - name: Install software directly from ISO (Bypassing vCLI)
      # We call bash -c to run the command in a full shell context
      raw: "shell.set --enabled True && /bin/bash -c 'software-packages install --iso --acceptEulas'"
      register: install_out
      vars:
        ansible_ssh_extra_args: >
          -o StrictHostKeyChecking=no 
          -o ServerAliveInterval=30 
          -o ServerAliveCountMax=120

    - name: Show Installation Result
      debug:
        var: install_out.stdout_lines

    - name: Reboot the VCSA
      raw: "shutdown reboot -r 'Ansible Post-upgrade reboot'"
      ignore_unreachable: true