---
- name: Stage 2 - Execute VCSA Upgrade
  hosts: vcsa_nodes
  gather_facts: false

  tasks:
    - name: Ensure any previous session is cleared
      raw: "software-packages unstage"
      ignore_errors: true

    - name: Install software directly from ISO
      # We use 'shell.set --enabled True' then execute to ensure we are in a high-privilege context
      # if the raw vCLI command is rejecting the auth.
      raw: "software-packages install --iso --acceptEulas"
      register: install_out
      vars:
        ansible_ssh_extra_args: >
          -o StrictHostKeyChecking=no 
          -o ServerAliveInterval=30 
          -o ServerAliveCountMax=120

    - name: Show Installation Result
      debug:
        var: install_out.stdout_lines

    - name: Reboot the VCSA
      raw: "shutdown reboot -r 'Ansible Post-upgrade reboot'"
      ignore_unreachable: true