---
- name: Create Supervisor Namespace 'vns' with CAN_EDIT Role
  hosts: localhost
  connection: local
  gather_facts: false
  
  vars:
    vcenter_host: "192.168.50.52"
    vcenter_username: "administrator@vsphere.local"
    vcenter_password: "VMware1!VMware1!"
    namespace_name: "vns"
  
  tasks:
    # Get session
    - uri:
        url: "https://{{ vcenter_host }}/api/session"
        method: POST
        validate_certs: false
        user: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        force_basic_auth: true
        status_code: 201
      register: auth
      no_log: true
    
    - set_fact:
        token: "{{ auth.json }}"
      no_log: true
    
    # Get cluster ID
    - uri:
        url: "https://{{ vcenter_host }}/api/vcenter/cluster"
        method: GET
        validate_certs: false
        headers:
          vmware-api-session-id: "{{ token }}"
        status_code: 200
      register: clusters
    
    - set_fact:
        cluster_id: "{{ clusters.json | json_query(\"[?name=='cluster'].cluster\") | first }}"
    
    # Get storage policy ID
    - uri:
        url: "https://{{ vcenter_host }}/api/vcenter/storage/policies"
        method: GET
        validate_certs: false
        headers:
          vmware-api-session-id: "{{ token }}"
        status_code: 200
      register: policies
    
    - set_fact:
        policy_id: "{{ policies.json | json_query(\"[?name=='storageclass'].policy\") | first }}"
    
    # Delete namespace
    - uri:
        url: "https://{{ vcenter_host }}/api/vcenter/namespaces/instances/{{ namespace_name }}"
        method: DELETE
        validate_certs: false
        headers:
          vmware-api-session-id: "{{ token }}"
      ignore_errors: yes
    
    - pause:
        seconds: 20
    
    # Create namespace
    - uri:
        url: "https://{{ vcenter_host }}/api/vcenter/namespaces/instances"
        method: POST
        validate_certs: false
        headers:
          vmware-api-session-id: "{{ token }}"
          Content-Type: "application/json"
        body_format: json
        body:
          cluster: "{{ cluster_id }}"
          namespace: "{{ namespace_name }}"
          storage_specs:
            - policy: "{{ policy_id }}"
              limit: -1
    
    - pause:
        seconds: 20
    
    # Set CAN_EDIT permission
    - uri:
        url: "https://{{ vcenter_host }}/api/vcenter/namespaces/instances/{{ namespace_name }}"
        method: PATCH
        validate_certs: false
        headers:
          vmware-api-session-id: "{{ token }}"
          Content-Type: "application/json"
        body_format: json
        body:
          access_list:
            - role: "CAN_EDIT"
              subject:
                domain: "vsphere.local"
                name: "administrator"