---
- name: Create Supervisor Namespace 'vns' with CAN_EDIT Role
  hosts: localhost
  connection: local
  gather_facts: false
  
  vars:
    vcenter_host: "192.168.50.52"
    vcenter_username: "administrator@vsphere.local"
    vcenter_password: "VMware1!VMware1!"
  
  tasks:
    - name: "Authenticate to vCenter"
      uri:
        url: "https://{{ vcenter_host }}/api/session"
        method: POST
        validate_certs: false
        user: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        force_basic_auth: true
      register: auth
      no_log: true
    
    - name: "Delete existing namespace 'vns'"
      uri:
        url: "https://{{ vcenter_host }}/api/vcenter/namespaces/instances/vns"
        method: DELETE
        validate_certs: false
        headers:
          vmware-api-session-id: "{{ auth.json }}"
      ignore_errors: true
    
    - name: "Wait for namespace cleanup"
      pause:
        seconds: 5
    
    - name: "Create new namespace 'vns'"
      uri:
        url: "https://{{ vcenter_host }}/api/vcenter/namespaces/instances"
        method: POST
        validate_certs: false
        headers:
          vmware-api-session-id: "{{ auth.json }}"
          Content-Type: "application/json"
        body_format: json
        body:
          cluster: "domain-c8"
          namespace: "vns"
          storage_specs:
            - policy: "cb5ecac2-a003-4809-a9ec-31aec86e08fb"
              limit: -1
    
    - name: "Wait for namespace creation"
      pause:
        seconds: 15
    
    - name: "Assign CAN_EDIT role to administrator"
      uri:
        url: "https://{{ vcenter_host }}/api/vcenter/namespaces/instances/vns"
        method: PATCH
        validate_certs: false
        headers:
          vmware-api-session-id: "{{ auth.json }}"
          Content-Type: "application/json"
        body_format: json
        body:
          access_list:
            - role: "CAN_EDIT"
              subject:
                domain: "vsphere.local"
                name: "administrator"