---
- name: Create Supervisor Namespace
  hosts: localhost
  connection: local
  gather_facts: false
  
  vars:
    vcenter_host: "192.168.50.54"
    vcenter_username: "administrator@vsphere.local"
    vcenter_password: "VMware1!VMware1!"
    cluster_moid: "domain-c21"
    namespace_name: "my-namespace"
    storage_policy: "storage-policy-1"
    storage_limit_gb: 10
  
  tasks:
    - name: Get vCenter session token
      uri:
        url: "https://{{ vcenter_host }}/api/session"
        method: POST
        validate_certs: false
        user: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        force_basic_auth: true
        status_code: 201
      register: session_result
      no_log: true
    
    - name: Create Supervisor Namespace
      uri:
        url: "https://{{ vcenter_host }}/api/vcenter/namespaces/instances"
        method: POST
        validate_certs: false
        headers:
          vmware-api-session-id: "{{ session_result.json }}"
          Content-Type: "application/json"
        body_format: json
        body:
          cluster: "{{ cluster_moid }}"
          namespace: "{{ namespace_name }}"
          storage_specs:
            - policy: "{{ storage_policy }}"
              limit: "{{ storage_limit_gb * 1024 }}"
        status_code: 201
      register: namespace_result
    
    - name: Wait for namespace to be ready
      uri:
        url: "https://{{ vcenter_host }}/api/vcenter/namespaces/instances/{{ namespace_name }}"
        method: GET
        validate_certs: false
        headers:
          vmware-api-session-id: "{{ session_result.json }}"
        status_code: 200
      register: namespace_status
      until: namespace_status.json.status == "READY"
      retries: 30
      delay: 10
    
    - name: Display namespace info
      debug:
        msg: "Namespace {{ namespace_name }} created successfully with status {{ namespace_status.json.status }}"