---
- name: Assign VM Classes
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    vcenter_host: "192.168.50.52"
    vcenter_username: "administrator@vsphere.local"
    vcenter_password: "VMware1!VMware1!"
    namespace_name: "vns"
    vm_classes: ["best-effort-small", "best-effort-medium"]

  tasks:
    - name: Login
      uri:
        url: "https://{{ vcenter_host }}/api/session"
        method: POST
        validate_certs: false
        force_basic_auth: true
        user: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        status_code: 201
      register: login

    # Check if we can find 'vns' in the basic instances list first
    - name: Verify Namespace exists
      uri:
        url: "https://{{ vcenter_host }}/api/vcenter/namespaces/instances/{{ namespace_name }}"
        method: GET
        validate_certs: false
        headers:
          vmware-api-session-id: "{{ login.json }}"
      register: check_ns
      failed_when: check_ns.status != 200

    - name: Patch VM Classes
      uri:
        url: "https://{{ vcenter_host }}/api/vcenter/namespace-management/software/namespaces/{{ namespace_name }}"
        method: PATCH
        validate_certs: false
        headers:
          vmware-api-session-id: "{{ login.json }}"
          Content-Type: "application/json"
        body_format: json
        body:
          vm_classes: "{{ vm_classes }}"
        status_code: [200, 204]
      # If this still fails 404, we will know the namespace exists but the software path is wrong