---
- hosts: 127.0.0.1
  connection: local
  become: yes

  vars_files:
    - answerfile_attach_tnp_to_cluster_9x.yml

  pre_tasks:
    - name: 0. Dynamically grab vCenter SHA-256 thumbprint
      # This replaces manual copy-pasting and ensures Trust/Service Account works
      shell: |
        openssl s_client -connect 192.168.50.52:443 < /dev/null 2>/dev/null \
        | openssl x509 -fingerprint -sha256 -noout \
        | cut -d'=' -f2
      register: vcenter_thumbprint_cmd
      changed_when: false

    - name: Set thumbprint fact
      set_fact:
        vc_thumbprint: "{{ vcenter_thumbprint_cmd.stdout }}"

  tasks:
    - name: 1. Add license key to NSX-T Manager
      vmware.ansible_for_nsxt.nsxt_licenses:
        hostname: "192.168.50.54"
        username: "admin"
        password: "VMware1!VMware1!"
        validate_certs: false
        license_key: "9069J-LD81H-L88N1-LJX2V-KMZHV"
        state: present

    - name: 2. Register compute manager with Trust Enabled
      vmware.ansible_for_nsxt.nsxt_fabric_compute_managers:
        hostname: "{{ hostname }}"
        username: "{{ username }}"
        password: "{{ password }}"
        validate_certs: false
        display_name: "{{ item.display_name }}"
        server: "{{ item.server }}"
        origin_type: "{{ item.origin_type }}"
        set_as_oidc_provider: true  # Key for Tanzu/Trust
        credential:
          credential_type: "{{ item.credential_type }}"
          username: "{{ item.username }}"
          password: "{{ item.password }}"
          thumbprint: "{{ vc_thumbprint }}"
        state: present
      loop: "{{ compute_managers }}"

    - name: 3. Create IP pool
      vmware.ansible_for_nsxt.nsxt_policy_ip_pool:
        hostname: "{{ hostname }}"
        username: "{{ username }}"
        password: "{{ password }}"
        validate_certs: false
        display_name: "{{ item.display_name }}"
        pool_static_subnets: "{{ item.pool_static_subnets }}"
        state: present
      loop: "{{ ip_pools }}"

    - name: 4. Create transport zone
      vmware.ansible_for_nsxt.nsxt_transport_zones:
        hostname: "{{ hostname }}"
        username: "{{ username }}"
        password: "{{ password }}"
        validate_certs: false
        resource_type: "PolicyTransportZone"
        display_name: "{{ item.display_name }}"
        tz_type: "{{ item.tz_type }}"
        state: present
      loop: "{{ transportzones }}"

    - name: 5. Create uplink profile
      vmware.ansible_for_nsxt.nsxt_uplink_profiles:
        hostname: "{{ hostname }}"
        username: "{{ username }}"
        password: "{{ password }}"
        validate_certs: false
        resource_type: UplinkHostSwitchProfile
        display_name: "{{ item.display_name }}"
        teaming: "{{ item.teaming }}"
        transport_vlan: "{{ item.transport_vlan }}"
        state: present
      loop: "{{ uplink_profiles }}"

    - name: 6. Create transport node profile
      vmware.ansible_for_nsxt.nsxt_transport_node_profiles:
        hostname: "{{ hostname }}"
        username: "{{ username }}"
        password: "{{ password }}"
        validate_certs: false
        resource_type: PolicyHostTransportNodeProfile
        display_name: "{{ item.display_name }}"
        host_switch_spec:
          resource_type: StandardHostSwitchSpec
          host_switches: "{{ item.host_switches }}"
        state: present
      loop: "{{ transport_node_profiles }}"

    - name: 7. Attach Transport node profile to cluster
      vmware.ansible_for_nsxt.nsxt_transport_node_collections:
        hostname: "{{ hostname }}"
        username: "{{ username }}"
        password: "{{ password }}"
        validate_certs: false
        display_name: "TNC1"
        compute_manager_name: "vcsa52"
        cluster_name: "cluster"
        transport_node_profile_name: "TNP1"
        state: present