---
- name: Apply OVF validation workaround on NSX Manager
  hosts: 192.168.50.54
  gather_facts: no
  
  vars:
    ansible_user: root
    ansible_password: VMware1!VMware1!
    script_name: "disable_ovf_validation_flag.sh"
  
  tasks:
    - name: Copy script to NSX Manager /root directory
      ansible.builtin.copy:
        src: "{{ script_name }}"
        dest: /root/{{ script_name }}
        owner: root
        group: root
        mode: '0644'
    
    - name: Make script executable
      ansible.builtin.file:
        path: /root/{{ script_name }}
        mode: '0755'
    
    - name: Execute the OVF validation disable script
      ansible.builtin.shell:
        cmd: /root/{{ script_name }}
      register: script_output
    
    - name: Display script execution result
      ansible.builtin.debug:
        msg: "{{ script_output.stdout_lines }}"