# Copyright 2018 VMware, Inc.
# SPDX-License-Identifier: BSD-2-Clause OR GPL-3.0-only
---
#
# Playbook to test Tier0
#
- hosts: localhost
  tasks:
    - name: Update Tier0
      vmware.ansible_for_nsxt.nsxt_policy_tier0:
        hostname: "default"
        validate_certs: false
        display_name: tier0
        state: present
        ha_mode: "ACTIVE_STANDBY"
        failover_mode: "PREEMPTIVE"
        disable_firewall: True
        force_whitelisting: True

        locale_services:
          - state: present
            id: "tier0"
            route_redistribution_config:
              redistribution_rules:
                - name: abc
                  route_redistribution_types: ["TIER0_CONNECTED", "TIER0_STATIC", "TIER1_CONNECTED", "TIER1_STATIC"]

            BGP:
              state: present
              local_as_num: '65001'
              inter_sr_ibgp: False
              graceful_restart_config:
                mode: "GR_AND_HELPER"
                timer:
                  restart_timer: 12

              neighbors:
                - display_name: neigh1
                  neighbor_address: "10.11.11.53"
                  remote_as_num: "65001"
                  state: present
            interfaces:
              - id: "uplink.192.168.11.53
                display_name: "uplink.192.168.11.53"
                state: present
                subnets:
                  - ip_addresses: ["192.168.11.53"]
                    prefix_len: 24
                segment_id: "segment-uplink-vlan11"
