[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt             = no

[ req_distinguished_name ]
C  = US
ST = CA
L  = Palo Alto
O  = WilliamLam
OU = R&D
CN = depot.corp.internal

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = depot.corp.internal
