---
- name: Create K8s Storage Policy
  hosts: localhost
  gather_facts: false
  vars:
    vcenter_ip: "192.168.50.52"
    vcenter_user: "administrator@vsphere.local"
    vcenter_pass: "VMware1!VMware1!"

  tasks:
    - name: Create 'storageclass' policy using 'k8' tag
      community.vmware.vmware_vm_storage_policy:
        hostname: "{{ vcenter_ip }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_pass }}"
        validate_certs: false
        name: "storageclass"
        tag_category: "k8"
        tag_name: "k8"
        tag_affinity: true
        state: present