---
- hosts: localhost
  tasks:
    - name: Create AVI-T1 Gateway with Active-Standby and LB Small
      vmware.ansible_for_nsxt.nsxt_policy_tier1:
        hostname: "192.168.50.40"
        username: "admin"
        password: "VMware1!VMware1!"
        validate_certs: False
        state: present
        # Updated Display Name
        display_name: "AVI-T1"
        tier0_display_name: "tier0-gateway"
        
        # HA Mode & Failover (PREEMPTIVE = Active-Standby)
        failover_mode: "NON_PREEMPTIVE"
        
        # Edge Resource Reservation
        pool_allocation: "LB_SMALL"
        
        # Route Advertisements for Avi Load Balancer
        route_advertisement_types:
          - 'TIER1_STATIC_ROUTES'
          - 'TIER1_CONNECTED'
          - 'TIER1_LB_VIP'
          - 'TIER1_LB_SNAT'
        
        disable_firewall: True
        enable_standby_relocation: False