- name: Configure NSX-T Segment with DHCP
  hosts: localhost
  connection: local
  gather_facts: false
  vars:
    nsx_manager_hostname: "10.2.2.100"
    nsx_manager_username: "admin"
    nsx_manager_password: "VMware1!VMware1!"
    tier1_gateway_path: "/infra/tier-1s/AVI-T1"
    dhcp_server_profile_path: "/infra/dhcp-server-profiles/ContainerSwitchAvi-1"

  tasks:
    - name: Ensure NSX-T Segment with DHCP is configured
      vmware.ansxt.nsxt_policy_segment:
        hostname: "{{ nsx_manager_hostname }}"
        username: "{{ nsx_manager_username }}"
        password: "{{ nsx_manager_password }}"
        validate_certs: false
        id: "ContainerSwitchAvi-1"
        display_name: "ContainerSwitchAvi-1"
        connectivity_path: "{{ tier1_gateway_path }}"
        # Changed from transport_zone_path to transport_zone_id
        transport_zone_id: "Ooverlay-tz-wlknsxvip40" 
        subnets:
          - gateway_address: "10.2.2.1/24"  # Corrected invalid IP 10.2.2.1024
            dhcp_config:
              resource_type: "SegmentDhcpV4Config"
              dhcp_server_path: "{{ dhcp_server_profile_path }}"
              lease_time: 86400
              dhcp_ranges:
                - "10.2.2.10-10.2.2.100"
              dns_servers:
                - "192.168.50.53"
        state: "present"
