    - name: Ensure NSX-T Segment with DHCP is configured
      vmware.ansible_for_nsxt.nsxt_policy_segment:
        hostname: "{{ nsx_manager_hostname }}"
        username: "{{ nsx_manager_username }}"
        password: "{{ nsx_manager_password }}"
        validate_certs: false
        id: "ContainerSwitchAvi-1"
        display_name: "ContainerSwitchAvi-1"
        connectivity_path: "{{ tier1_gateway_path }}"
        transport_zone_id: "Ooverlay-tz-wlknsxvip40"
        # Move dhcp_config_path here (Segment level)
        dhcp_config_path: "{{ dhcp_server_profile_path }}" 
        subnets:
          - gateway_address: "10.2.2.1/24"
            # In this module version, ranges are directly under the subnet
            dhcp_ranges:
              - "10.2.2.10-10.2.2.100"
            dns_servers:
              - "192.168.50.53"
        state: "present"
