    - name: Ensure NSX-T Segment with DHCP is configured
      vmware.ansible_for_nsxt.nsxt_policy_segment:
        hostname: "{{ nsx_manager_hostname }}"
        username: "{{ nsx_manager_username }}"
        password: "{{ nsx_manager_password }}"
        validate_certs: false
        id: "ContainerSwitchAvi-1"
        display_name: "ContainerSwitchAvi-1"
        connectivity_path: "{{ tier1_gateway_path }}"
        dhcp_config_path: "{{ dhcp_server_profile_path }}"
        subnets:
          - gateway_address: "10.2.2.253/24"
            dhcp_ranges:
              - "10.2.2.10-10.2.2.100"
            dhcp_config:
              resource_type: "SegmentDhcpV4Config"
              # Add this line - the IP for the DHCP service itself
              server_address: "10.2.2.254/24" 
              dns_servers:
                - "10.2.2.252"
              lease_time: 86400
        state: "present"
