---
- name: Configure VCF Installer Settings
  hosts: vcf_installer
  gather_facts: no
  become: yes
  become_user: root
  
  tasks:
    - name: Disable 10Gb validation on VCF Installer
      ansible.builtin.lineinfile:
        path: /etc/vmware/vcf/domainmanager/application-prod.properties
        regexp: '^enable.speed.of.physical.nics.validation'
        line: 'enable.speed.of.physical.nics.validation = false'
        state: present

    - name: Execute SDDC Manager service restart script
      ansible.builtin.shell:
        cmd: echo 'y' | /opt/vmware/vcf/operationsmanager/scripts/cli/sddcmanager_restart_services.sh
      become: no

    - name: Enable single ESXi host feature on VCF Installer
      ansible.builtin.lineinfile:
        path: /home/vcf/feature.properties
        regexp: '^feature.vcf.internal.single.host.domain'
        line: 'feature.vcf.internal.single.host.domain = true'
        state: present
        create: yes
      become: no

    - name: Enable VSAN ESA managed disk claim feature
      ansible.builtin.lineinfile:
        path: /home/vcf/feature.properties
        regexp: '^feature.vcf.vgl-43370.vsan.esa.sddc.managed.disk.claim'
        line: 'feature.vcf.vgl-43370.vsan.esa.sddc.managed.disk.claim = true'
        state: present
        create: yes
      become: no

    - name: Configure VSAN ESA managed disk claim in domainmanager
      ansible.builtin.lineinfile:
        path: /etc/vmware/vcf/domainmanager/application-prod.properties
        regexp: '^vsan.esa.sddc.managed.disk.claim'
        line: 'vsan.esa.sddc.managed.disk.claim = true'
        state: present

    - name: Restart domainmanager service
      ansible.builtin.systemd:
        name: domainmanager
        state: restarted
        daemon_reload: yes