---
# VCF Depot Certificate Setup - Using shell commands instead of slurp
# Following KB procedure exactly

# PLAY 1: Generate certificates for depot server
- name: Generate SSL certificates for depot
  hosts: localhost
  connection: local
  gather_facts: no
  vars:
    fqdn: "depot.corp.internal"
  
  tasks:
    - name: Create certs directory
      file:
        path: "{{ playbook_dir }}/certs"
        state: directory
    
    - name: Generate SSL certificates
      shell: |
        cd {{ playbook_dir }}/certs
        FQDN="{{ fqdn }}"
        
        cat > server_openssl.cnf <<EOF
        [ req ]
        default_bits       = 2048
        distinguished_name = req_distinguished_name
        req_extensions     = req_ext
        prompt             = no
        
        [ req_distinguished_name ]
        C  = US
        ST = CA
        L  = Palo Alto
        O  = WilliamLam
        OU = R&D
        CN = ${FQDN}
        
        [ req_ext ]
        subjectAltName = @alt_names
        
        [ alt_names ]
        DNS.1 = ${FQDN}
        EOF
        
        openssl genrsa -out rootCA.key 4096
        openssl genrsa -out server.key 2048
        openssl req -new -key server.key -out server.csr -config server_openssl.cnf
        openssl req -x509 -new -nodes -key rootCA.key -sha256 -days 3650 -out rootCA.pem -subj "/C=US/ST=CA/L=Palo Alto/O=WilliamLam/OU=R&D/CN=WilliamLam-RootCA"
        openssl x509 -req -in server.csr -CA rootCA.pem -CAkey rootCA.key -CAcreateserial -out server.crt -days 825 -sha256 -extensions req_ext -extfile server_openssl.cnf
        cat server.crt rootCA.pem > depot-fullchain.pem

# PLAY 2: Copy rootCA.pem to VCF installer and follow KB procedure
- name: Configure VCF installer to trust depot (KB procedure)
  hosts: vcf_appliance
  gather_facts: no
  vars:
    ansible_user: vcf
    ansible_ssh_pass: "VMware1!VMware1!"
    ansible_become_pass: "VMware1!VMware1!"
    depot_ip: "192.168.50.53"
  
  tasks:
    # Step 1: Copy rootCA.pem to VCF appliance
    - name: Copy rootCA.pem to VCF installer
      copy:
        src: "{{ playbook_dir }}/certs/rootCA.pem"
        dest: "/home/vcf/rootCA.pem"
        owner: vcf
        group: vcf
        mode: '0644'
    
    # Step 2a: Get trusted certificates key using shell (no slurp needed)
    - name: Get trusted certificates key
      shell: cat /etc/vmware/vcf/commonsvcs/trusted_certificates.key
      register: trust_key_result
      changed_when: false
      ignore_errors: yes  # File might not exist
    
    # Step 2b: Import to SDDC Manager trust store using key from step 2a
    - name: Import to SDDC Manager trust store
      shell: |
        # Read password from file or use default
        if [ -f "/etc/vmware/vcf/commonsvcs/trusted_certificates.key" ]; then
          TRUST_PASS=$(cat /etc/vmware/vcf/commonsvcs/trusted_certificates.key)
        else
          TRUST_PASS="changeit"
        fi
        
        keytool -importcert -alias depot \
          -file /home/vcf/rootCA.pem \
          -keystore /etc/vmware/vcf/commonsvcs/trusted_certificates.store \
          --storepass "$TRUST_PASS"
      register: sddc_import
      ignore_errors: yes
    
    # Step 2c: Import to Java trust store with changeit
    - name: Import to Java trust store
      shell: |
        keytool -importcert -alias depot \
          -file /home/vcf/rootCA.pem \
          -keystore /etc/alternatives/jre/lib/security/cacerts \
          --storepass changeit
      register: java_import
      ignore_errors: yes
    
    # Additional step: Add to hosts file
    - name: Add depot.corp.internal to hosts file
      lineinfile:
        path: /etc/hosts
        line: "{{ depot_ip }} depot.corp.internal"
        state: present