# PLAY 2: Copy rootCA.pem to VCF installer and follow KB procedure
- name: Configure VCF installer to trust depot (KB procedure)
  hosts: vcf_appliance
  gather_facts: no
  vars:
    ansible_user: vcf
    ansible_ssh_pass: "VMware1!VMware1!"
    ansible_become_pass: "VMware1!VMware1!"
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
    depot_ip: "192.168.50.53"

  tasks:
    - name: Copy rootCA.pem to VCF installer
      # No 'become' here - just copy as the vcf user
      copy:
        src: "{{ playbook_dir }}/certs/rootCA.pem"
        dest: "/home/vcf/rootCA.pem"
        mode: '0644'

    - name: Get trusted certificates key
      become: yes
      become_method: sudo
      shell: cat /etc/vmware/vcf/commonsvcs/trusted_certificates.key
      register: trust_key_result
      changed_when: false

    - name: Import to SDDC Manager trust store
      become: yes
      become_method: sudo
      shell: |
        TRUST_PASS="{{ trust_key_result.stdout | trim }}"
        keytool -importcert -alias depot -noprompt \
          -file /home/vcf/rootCA.pem \
          -keystore /etc/vmware/vcf/commonsvcs/trusted_certificates.store \
          -storepass "$TRUST_PASS"
      register: sddc_import
      failed_when: 
        - sddc_import.rc != 0
        - "'already exists' not in sddc_import.stdout"
        - "'already exists' not in sddc_import.stderr"
      changed_when: sddc_import.rc == 0

    - name: Import to Java trust store
      become: yes
      become_method: sudo
      shell: |
        keytool -importcert -alias depot -noprompt \
          -file /home/vcf/rootCA.pem \
          -keystore /etc/alternatives/jre/lib/security/cacerts \
          -storepass changeit
      register: java_import
      failed_when: 
        - java_import.rc != 0
        - "'already exists' not in java_import.stdout"
        - "'already exists' not in java_import.stderr"
      changed_when: java_import.rc == 0

    - name: Add depot.corp.internal to hosts file
      become: yes
      become_method: sudo
      lineinfile:
        path: /etc/hosts
        line: "{{ depot_ip }} depot.corp.internal"
        state: present