---
- name: Configure vCenter Cluster HA and DRS
  hosts: localhost
  gather_facts: false
  vars:
    vcenter_host: "192.168.50.52"
    vcenter_user: "administrator@vsphere.local"
    vcenter_pass: "VMware1!VMware1!"
    dc_name: "datacenter"
    cluster_name: "cluster"

  tasks:
    - name: Enable HA on Cluster
      vmware.vmware.cluster_ha:
        hostname: "{{ vcenter_host }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_pass }}"
        validate_certs: false
        datacenter: "{{ dc_name }}"
        cluster: "{{ cluster_name }}"
        enable: true
        # Based on your source code: host_failure_response is a dict
        host_failure_response:
          restart_vms: true
          default_vm_restart_priority: medium
        host_isolation_response: none

    - name: Enable DRS on Cluster
      vmware.vmware.cluster_drs:
        hostname: "{{ vcenter_host }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_pass }}"
        validate_certs: false
        datacenter: "{{ dc_name }}"
        cluster: "{{ cluster_name }}"
        enable: true
        drs_default_vm_behavior: fullyAutomated
        drs_vmotion_rate: 3