---
- name: Multi-Collection vSphere Setup
  hosts: localhost
  gather_facts: false
  vars:
    vcenter_hostname: "192.168.50.52"
    vcenter_username: "administrator@vsphere.local"
    vcenter_password: "VMware1!VMware1!"
    dc_name: "datacenter"
    cluster_name: "cluster"

  tasks:
    - name: Create Datacenter using community.vmware
      community.vmware.vmware_datacenter:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        datacenter_name: "{{ dc_name }}"
        state: present
        validate_certs: false

    - name: Create Cluster using vmware.vmware
      # This uses the cluster.py module you saw in the official collection
      vmware.vmware.cluster:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        datacenter: "{{ dc_name }}"
        cluster: "{{ cluster_name }}"
        state: present
        validate_certs: false