---
- name: Configure NTP on ESXi Hosts
  hosts: localhost
  gather_facts: false
  vars:
    vcenter_host: "192.168.50.52"
    vcenter_user: "administrator@vsphere.local"
    vcenter_pass: "VMware1!VMware1!"
    esxi_hosts:
      - "192.168.50.11"
      - "192.168.50.12"
    ntp_servers:
      - "0.pool.ntp.org"
      - "1.pool.ntp.org"

  tasks:
    - name: Set NTP server list on ESXi hosts
      community.vmware.vmware_host_ntp:
        hostname: "{{ vcenter_host }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_pass }}"
        validate_certs: false
        esxi_hostname: "{{ item }}"
        ntp_servers: "{{ ntp_servers }}"
        state: present
      loop: "{{ esxi_hosts }}"

    - name: Ensure the NTP service (ntpd) is running and persistent
      community.vmware.vmware_host_service_manager:
        hostname: "{{ vcenter_host }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_pass }}"
        validate_certs: false
        esxi_hostname: "{{ item }}"
        service_name: ntpd
        state: started
        service_policy: on
      loop: "{{ esxi_hosts }}"