---
- name: Connect NFS and Tag as k8
  hosts: localhost
  gather_facts: false
  vars:
    vcenter_host: "192.168.50.52"
    vcenter_user: "administrator@vsphere.local"
    vcenter_pass: "VMware1!VMware1!"
    
    nfs_server_ip: "192.168.50.53"
    nfs_export_path: "/mnt/nfs1"
    datastore_name: "nfs1"
    
    target_hosts:
      - "192.168.50.11"
      - "192.168.50.12"

  tasks:
    - name: 1. Mount NFS Datastore
      community.vmware.vmware_host_datastore:
        hostname: "{{ vcenter_host }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_pass }}"
        validate_certs: false
        esxi_hostname: "{{ item }}"
        datastore_name: "{{ datastore_name }}"
        datastore_type: nfs
        nfs_server: "{{ nfs_server_ip }}"
        nfs_path: "{{ nfs_export_path }}"
        state: present
      loop: "{{ target_hosts }}"

    - name: 2. Ensure Tag Category 'k8' exists
      community.vmware.vmware_category:
        hostname: "{{ vcenter_host }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_pass }}"
        validate_certs: false
        category_name: "k8"
        category_cardinality: "single"
        associable_types:
          - Datastore
        state: present
      delegate_to: localhost

    - name: 3. Ensure Tag 'k8' exists in Category 'k8'
      community.vmware.vmware_tag:
        hostname: "{{ vcenter_host }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_pass }}"
        validate_certs: false
        tag_name: "k8"
        category_name: "k8"
        state: present
      delegate_to: localhost

    - name: 4. Assign 'k8' tag to the 'nfs1' datastore
      community.vmware.vmware_tag_manager:
        hostname: "{{ vcenter_host }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_pass }}"
        validate_certs: false
        tag_names:
          - "k8"
        object_name: "{{ datastore_name }}"
        object_type: Datastore
        state: add
      delegate_to: localhost