---
- name: Force NFS Affinity via Advanced Config
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    esxi_host: "192.168.50.108"
    esxi_user: "root"
    esxi_password: "VMware1!VMware1!"
    vm_name: "nfsserver"

  tasks:
    - name: Step 1 - Apply Strict Resource Reservations
      community.vmware.vmware_guest:
        hostname: "{{ esxi_host }}"
        username: "{{ esxi_user }}"
        password: "{{ esxi_password }}"
        validate_certs: false
        name: "{{ vm_name }}"
        state: present
        hardware:
          num_cpus: 6
          memory_mb: 71680
          mem_reservation: 71680
          cpu_reservation: 12600
          memory_reservation_lock: true

    - name: Step 2 - Force Advanced VMX Parameters
      community.vmware.vmware_guest_configuration:
        hostname: "{{ esxi_host }}"
        username: "{{ esxi_user }}"
        password: "{{ esxi_password }}"
        validate_certs: false
        name: "{{ vm_name }}"
        config_params:
          - {'key': 'sched.cpu.latencySensitivity', 'value': 'high'}
          - {'key': 'numa.nodeAffinity', 'value': '1'}
          - {'key': 'sched.cpu.affinity', 'value': '56-111'}