---
- name: Force NFS Resource Lock - Two Stage Apply
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    esxi_host: "192.168.50.108"
    esxi_user: "root"
    esxi_password: "VMware1!VMware1!"
    vm_name: "nfsserver"

  tasks:
    - name: Stage 1 - Lock RAM and CPU Reservations
      community.vmware.vmware_guest:
        hostname: "{{ esxi_host }}"
        username: "{{ esxi_user }}"
        password: "{{ esxi_password }}"
        validate_certs: false
        name: "{{ vm_name }}"
        state: present
        hardware:
          num_cpus: 6
          memory_mb: 71680
          mem_reservation: 71680
          cpu_reservation: 12600
          memory_reservation_lock: true

    - name: Stage 2 - Pin to Socket 1 (56-111)
      community.vmware.vmware_guest:
        hostname: "{{ esxi_host }}"
        username: "{{ esxi_user }}"
        password: "{{ esxi_password }}"
        validate_certs: false
        name: "{{ vm_name }}"
        state: present
        advanced_settings:
          - key: "sched.cpu.affinity"
            value: "56-111"
          - key: "numa.nodeAffinity"
            value: "1"
          - key: "sched.cpu.latencySensitivity"
            value: "high"