---
- name: Force NFS Affinity - Brute Force String
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    esxi_host: "192.168.50.108"
    esxi_user: "root"
    esxi_password: "VMware1!VMware1!"
    
    # We will use a comma-separated list of the 56 threads.
    # Sometimes ESXi handles a list differently than a range string.
    nfs_aff: "56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111"

  tasks:
    - name: Final Attempt - Force VMX through Advanced Settings
      community.vmware.vmware_guest:
        hostname: "{{ esxi_host }}"
        username: "{{ esxi_user }}"
        password: "{{ esxi_password }}"
        validate_certs: false
        name: "nfsserver"
        state: present
        hardware:
          num_cpus: 6
          memory_mb: 71680
          mem_reservation: 71680
          cpu_reservation: 12600
          memory_reservation_lock: true
        advanced_settings:
          - key: "sched.cpu.affinity"
            value: "{{ nfs_aff }}"
          - key: "numa.nodeAffinity"
            value: "1"
          - key: "sched.cpu.latencySensitivity"
            value: "high"