---
- name: Configure NFS Server - Full Resource Lock
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    esxi_host: "192.168.50.108"
    esxi_user: "root"
    esxi_password: "VMware1!VMware1!"
    vm_folder: "/ha-datacenter/vm"

    infra_vms:
      - name: "nfsserver"
        cpu: 6
        ram: 71680
        # CALCULATE: 6 cores * [Your CPU MHz]. 12600 assumes 2.1GHz base.
        res_cpu: 12600 
        node: "1"
        aff: "56-111"

  tasks:
    - name: Update Infrastructure (NFS Server) - Full Reservation
      community.vmware.vmware_guest:
        hostname: "{{ esxi_host }}"
        username: "{{ esxi_user }}"
        password: "{{ esxi_password }}"
        validate_certs: false
        name: "{{ item.name }}"
        folder: "{{ vm_folder }}"
        state: present
        hardware:
          num_cpus: "{{ item.cpu | int }}"
          memory_mb: "{{ item.ram | int }}"
          memory_reservation: "{{ item.ram | int }}"
          memory_reservation_lock: true
          cpu_reservation: "{{ item.res_cpu | int }}"
          nested_virt: true
        advanced_settings:
          - key: "sched.cpu.latencySensitivity"
            value: "high"
          - key: "sched.cpu.affinity"
            value: "{{ item.aff | string }}"
          - key: "numa.nodeAffinity"
            value: "{{ item.node | string }}"
      loop: "{{ infra_vms }}"