---
# Playbook to deploy multiple nested ESXi VMs
- name: Deploy Multiple Nested ESXi VMs
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    esxi_host: "192.168.50.108"
    esxi_user: "root"
    esxi_password: "VMware1!VMware1!"

    # On standalone ESXi, the folder path must include the datacenter
    vm_folder: "/ha-datacenter/vm"

    vm_list:
      - vm_name: "192.168.50.11"
      - vm_name: "192.168.50.12"
      - vm_name: "192.168.50.13"
      - vm_name: "192.168.50.14"
      - vm_name: "192.168.50.15"
      - vm_name: "192.168.50.16"
      - vm_name: "192.168.50.17"
      - vm_name: "192.168.50.18"

  tasks:
    - name: Create VMs with hardware virtualization enabled
      community.vmware.vmware_guest:
        hostname: "{{ esxi_host }}"
        username: "{{ esxi_user }}"
        password: "{{ esxi_password }}"
        validate_certs: false
        name: "{{ item.vm_name }}"
        folder: "{{ vm_folder }}"
        state: present
        guest_id: "vmkernel8Guest"

        # This is the native way according to your python source code
        hardware:
          memory_mb: 131072 
          num_cpus: 56
          scsi: paravirtual
          nested_virt: true  # Enables VT-x/AMD-V for the guest ESXi
          cpu_reservation: 24000     # <-- Reserve 24,000 MHz (24 cores)
          cpu_reservation_lock: true # <-- Locks the reservation
        # If you want to be extra safe, you can also use advanced_settings
        advanced_settings:
          - key: "vhv.enable"
            value: "True"

        disk:
          - size_gb: 40
            type: thin
            datastore: "datastore1"

        networks:
          - name: "nestedtrunk1g"
            device_type: vmxnet3
          - name: "nestedtrunk1g"
            device_type: vmxnet3
          - name: "nestedtrunk1g"
            device_type: vmxnet3

        cdrom:
          - controller_type: ide
            controller_number: 0
            unit_number: 0
            iso_path: "[datastore1] /iso/VMware-VMvisor-Installer-9.0.1.0.24957456.x86_64.iso"
#            iso_path: "[datastore1] /iso/VMware-VMvisor-Installer-8.0U2b-23305546.x86_64.iso"
            type: iso
            state: present
      loop: "{{ vm_list }}"
      register: vm_creation_results

    - name: Power on all VMs
      community.vmware.vmware_guest_powerstate:
        hostname: "{{ esxi_host }}"
        username: "{{ esxi_user }}"
        password: "{{ esxi_password }}"
        validate_certs: false
        name: "{{ item.vm_name }}"
        state: "powered-on"
      loop: "{{ vm_list }}"