---
- name: Configure NFS Server - High Performance Storage Node
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    esxi_host: "192.168.50.108"
    esxi_user: "root"
    esxi_password: "VMware1!VMware1!"
    vm_folder: "/ha-datacenter/vm"

    # NFS Server Specific Settings
    nfs_vm:
      name: "nfsserver"
      cpu: 6
      ram: 71680        # 70GB in MB
      res_mem: 71680    # Full RAM Reservation
      res_cpu: 12600    # ~12.6GHz Reservation
      node: "1"         # NUMA Node 1
      aff: "56-111"     # Socket 1 Threads

  tasks:
    - name: Apply Resource Reservations and Latency Settings
      community.vmware.vmware_guest:
        hostname: "{{ esxi_host }}"
        username: "{{ esxi_user }}"
        password: "{{ esxi_password }}"
        validate_certs: false
        name: "{{ nfs_vm.name }}"
        folder: "{{ vm_folder }}"
        state: present
        hardware:
          num_cpus: "{{ nfs_vm.cpu | int }}"
          memory_mb: "{{ nfs_vm.ram | int }}"
          memory_reservation: "{{ nfs_vm.res_mem | int }}"
          cpu_reservation: "{{ nfs_vm.res_cpu | int }}"
        advanced_settings:
          - key: "numa.nodeAffinity"
            value: "{{ nfs_vm.node | string }}"
          - key: "sched.cpu.affinity"
            value: "{{ nfs_vm.aff | string }}"
          - key: "sched.cpu.latencySensitivity"
            value: "high"
      register: nfs_config

    - name: Power On NFS Server
      community.vmware.vmware_guest_powerstate:
        hostname: "{{ esxi_host }}"
        username: "{{ esxi_user }}"
        password: "{{ esxi_password }}"
        validate_certs: false
        name: "{{ nfs_vm.name }}"
        state: powered-on
      when: nfs_config.changed or nfs_config.instance.hw_power_status == "poweredOff":