---
- name: Setup vSphere Datacenter and vLCM Cluster
  hosts: localhost
  gather_facts: false
  vars:
    vcenter_hostname: "192.168.50.52"
    vcenter_username: "administrator@vsphere.local"
    vcenter_password: "VMware1!VMware1!"
    dc_name: "datacenter"
    cluster_name: "cluster"
    reference_host: "192.168.50.11"
    esxi_hosts:
      - "192.168.50.11"
      - "192.168.50.12"

  tasks:
    - name: 1. Create Datacenter
      community.vmware.vmware_datacenter:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        datacenter_name: "{{ dc_name }}"
        state: present
        validate_certs: false

    - name: 2. Add Hosts to Datacenter folder
      community.vmware.vmware_host:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        datacenter_name: "{{ dc_name }}"
        folder: "/{{ dc_name }}/host"
        esxi_hostname: "{{ item }}"
        esxi_username: "root"
        esxi_password: "VMware1!VMware1!"
        state: present
        validate_certs: false
      loop: "{{ esxi_hosts }}"

    - name: 3. Create vLCM Cluster via REST API
      vmware.vmware.cluster_rest:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        validate_certs: false
        state: present
        datacenter: "{{ dc_name }}"
        name: "{{ cluster_name }}"
        # This specific structure enables vLCM and seeds it from your host
        configuration:
          lifecycle_managed: true
        base_host: "{{ reference_host }}"

    - name: 4. Move Hosts into the Cluster
      community.vmware.vmware_host:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        datacenter_name: "{{ dc_name }}"
        cluster_name: "{{ cluster_name }}"
        esxi_hostname: "{{ item }}"
        state: present
        validate_certs: false
      loop: "{{ esxi_hosts }}"