---
- name: Disable CPU Mitigations on Nested ESXi Hosts
  hosts: all
  gather_facts: false

  vars:
    # Credentials for your nested ESXi hosts (192.168.50.11-18)
    esxi_user: "root"
    esxi_password: "VMware1!VMware1!"

  tasks:
    - name: Disable available CPU mitigations
      ansible.builtin.shell: |
        esxcli system settings kernel set --setting="disableCFOH" --value="TRUE"
        esxcli system settings kernel set --setting="delayCFOH" --value="0"
        esxcli system settings kernel set --setting="hyperthreadingMitigationIntraVM" --value="FALSE"
        esxcli system settings kernel set --setting="hyperthreadingMitigation" --value="FALSE"
        esxcli system settings kernel set --setting="forceHyperthreadingMitigation" --value="FALSE"
      args:
        executable: /bin/sh

    - name: Reboot ESXi hosts to apply kernel changes
      ansible.builtin.shell: |
        reboot
      async: 1
      poll: 0
      ignore_errors: true