---
- name: Configure NTP and Enable Management Services on ESXi
  hosts: localhost
  gather_facts: false
  vars:
    vcenter_host: "192.168.50.52"
    vcenter_user: "administrator@vsphere.local"
    vcenter_pass: "VMware1!VMware1!"
    esxi_hosts:
      - "192.168.50.11"
      - "192.168.50.12"
    ntp_servers:
      - "pool.ntp.org"
      - "0.pool.ntp.org"
    # Corrected service names: TSM is the key for ESXi Shell
    mgmt_services:
      - ntpd
      - TSM-SSH
      - TSM

  tasks:
    - name: Set NTP server list on ESXi hosts
      community.vmware.vmware_host_ntp:
        hostname: "{{ vcenter_host }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_pass }}"
        validate_certs: false
        esxi_hostname: "{{ item }}"
        ntp_servers: "{{ ntp_servers }}"
        state: present
      loop: "{{ esxi_hosts }}"

    - name: Ensure NTP, SSH, and Shell services are started and persistent
      community.vmware.vmware_host_service_manager:
        hostname: "{{ vcenter_host }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_pass }}"
        validate_certs: false
        esxi_hostname: "{{ item.0 }}"
        service_name: "{{ item.1 }}"
        state: start
        service_policy: on
      loop: "{{ esxi_hosts | product(mgmt_services) | list }}"