---
- name: Setup NTP and Services on ESXi Hosts
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    esxi_user: "root"
    esxi_password: "VMware1!VMware1!"
    ntp_server: "sg.pool.ntp.org"
    
    esxi_hosts:
      - 192.168.50.11
      - 192.168.50.12
      - 192.168.50.13
      - 192.168.50.14
      - 192.168.50.15
      - 192.168.50.16
      - 192.168.50.17
      - 192.168.50.18

  tasks:
    # TASK 1: Remove all current NTP servers
    - name: Clear existing NTP configuration
      community.vmware.vmware_host_ntp:
        hostname: "{{ item }}"
        esxi_hostname: "{{ item }}"
        username: "{{ esxi_user }}"
        password: "{{ esxi_password }}"
        ntp_servers: "192.168.50.53"
        validate_certs: false
        state: absent
      loop: "{{ esxi_hosts }}"
      register: ntp_clear_result

    # TASK 2: Set the new NTP server
    - name: Set new NTP server
      community.vmware.vmware_host_ntp:
        hostname: "{{ item }}"
        esxi_hostname: "{{ item }}"
        username: "{{ esxi_user }}"
        password: "{{ esxi_password }}"
        validate_certs: false
        ntp_servers:
          - "{{ ntp_server }}"
        state: present
      loop: "{{ esxi_hosts }}"
      register: ntp_set_result

    - name: Configure NTP Service (Start/Stop with host)
      community.vmware.vmware_host_service_manager:
        hostname: "{{ item }}"
        esxi_hostname: "{{ item }}"
        username: "{{ esxi_user }}"
        password: "{{ esxi_password }}"
        validate_certs: false
        service_name: ntpd
        state: start
        service_policy: on
      loop: "{{ esxi_hosts }}"

    - name: Configure SSH Service (Start/Stop with host)
      community.vmware.vmware_host_service_manager:
        hostname: "{{ item }}"
        esxi_hostname: "{{ item }}"
        username: "{{ esxi_user }}"
        password: "{{ esxi_password }}"
        validate_certs: false
        service_name: TSM-SSH
        state: start
        service_policy: on
      loop: "{{ esxi_hosts }}"

    - name: Configure ESXi Shell Service (Start/Stop with host)
      community.vmware.vmware_host_service_manager:
        hostname: "{{ item }}"
        esxi_hostname: "{{ item }}"
        username: "{{ esxi_user }}"
        password: "{{ esxi_password }}"
        validate_certs: false
        service_name: TSM
        state: start
        service_policy: on
      loop: "{{ esxi_hosts }}"