---
- name: Setup NTP and Services on ESXi Hosts
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    esxi_user: "root"
    esxi_password: "VMware1!VMware1!"
    ntp_server: "192.168.50.53"
    
    esxi_hosts:
      - 192.168.50.13
      - 192.168.50.14

  tasks:
    - name: Set NTP Server Address
      community.vmware.vmware_host_ntp:
        hostname: "{{ item }}"
        esxi_hostname: "{{ item }}"  # Required field added here
        username: "{{ esxi_user }}"
        password: "{{ esxi_password }}"
        validate_certs: false
        ntp_servers:
          - "{{ ntp_server }}"
        state: present
      loop: "{{ esxi_hosts }}"

    - name: Configure NTP Service (Start/Stop with host)
      community.vmware.vmware_host_service_manager:
        hostname: "{{ item }}"
        esxi_hostname: "{{ item }}"  # Required field added here
        username: "{{ esxi_user }}"
        password: "{{ esxi_password }}"
        validate_certs: false
        service_name: ntpd
        state: started
        service_policy: on
      loop: "{{ esxi_hosts }}"

    - name: Configure SSH Service (Start/Stop with host)
      community.vmware.vmware_host_service_manager:
        hostname: "{{ item }}"
        esxi_hostname: "{{ item }}"  # Required field added here
        username: "{{ esxi_user }}"
        password: "{{ esxi_password }}"
        validate_certs: false
        service_name: TSM-SSH
        state: started
        service_policy: on
      loop: "{{ esxi_hosts }}"

    - name: Configure ESXi Shell Service (Start/Stop with host)
      community.vmware.vmware_host_service_manager:
        hostname: "{{ item }}"
        esxi_hostname: "{{ item }}"  # Required field added here
        username: "{{ esxi_user }}"
        password: "{{ esxi_password }}"
        validate_certs: false
        service_name: TSM
        state: started
        service_policy: on
      loop: "{{ esxi_hosts }}"