---
- name: Configure vSphere Infrastructure (Network and Storage)
  hosts: localhost
  connection: local
  gather_facts: false
  vars:
    # Connection Details
    vcenter_hostname: "192.168.50.52"
    vcenter_username: "administrator@vsphere.local"
    vcenter_password: "VMware1!VMware1!"
    validate_certs: false

    # Networking Variables
    datacenter_name: "datacenter"
    vds_name: "vds"
    dpg_name: "vds.v0"
    mtu_size: 1700
    
    # Define your hosts and their vmnics
    esxi_hosts:
      - esxi_name: "192.168.50.11"
        vmnics: ["vmnic1", "vmnic2"]
      - esxi_name: "192.168.50.12"
        vmnics: ["vmnic1", "vmnic2"]

    # Storage Variables
    storage_policy_name: "k8storagepolicy"
    tag_name: "k8"

  tasks:
    # --- NETWORK SECTION ---

    - name: Create vSphere Distributed Switch '{{ vds_name }}'
      community.vmware.vmware_dvswitch:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        validate_certs: "{{ validate_certs }}"
        datacenter_name: "{{ datacenter_name }}"
        switch_name: "{{ vds_name }}"
        mtu: "{{ mtu_size }}"
        uplink_quantity: 2
        state: present
      register: create_vds

    - name: Create Ephemeral Distributed Port Group '{{ dpg_name }}'
      community.vmware.vmware_dvs_portgroup:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        validate_certs: "{{ validate_certs }}"
        switch_name: "{{ vds_name }}"
        portgroup_name: "{{ dpg_name }}"
        vlan_id: 0
        num_ports: 120
        port_binding: "ephemeral"  # Set to Ephemeral as requested
        state: present
      when: create_vds is succeeded

    - name: Add ESXi hosts to vDS
      community.vmware.vmware_dvs_host:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        validate_certs: "{{ validate_certs }}"
        esxi_hostname: "{{ item.esxi_name }}"
        switch_name: "{{ vds_name }}"
        vmnics: "{{ item.vmnics }}"
        state: present
      loop: "{{ esxi_hosts }}"
      loop_control:
        label: "{{ item.esxi_name }}"
      when: create_vds is succeeded
