---
- name: Deploy Multiple Nested ESXi VMs using certified collection
  hosts: localhost
  connection: local
  gather_facts: false
  
  vars:
    esxi_host: "192.168.50.108"
    esxi_user: "root"
    esxi_password: "VMware1!VMware1!VMware1!VMware1!"
    # Changed from "vm" to "/vm" or "vm" (root level)
    # On standalone ESXi, the default root folder is simply 'vm'
    vm_folder: "vm" 
    
    vm_list:
      - vm_name: "esx13"
      - vm_name: "esx14"
    
  tasks:
    - name: Create Nested ESXi VMs
      vmware.vmware.vm:
        hostname: "{{ esxi_host }}"
        username: "{{ esxi_user }}"
        password: "{{ esxi_password }}"
        validate_certs: false
        datacenter: "ha-datacenter"
        esxi_host: "{{ esxi_host }}"
        datastore: "sata4b"  
        name: "{{ item.vm_name }}"
        # Set to false to help the module identify the standalone structure
        folder_paths_are_absolute: false 
        folder: "{{ vm_folder }}"
        state: present
        guest_id: "vmkernel8Guest"
        cpu:
          cores: 56
        memory:
          size_mb: 81920
        disks:
          - size: "40gb"
            device_node: "SCSI(0:0)"
            provisioning: thin
            datastore: "sata4b"
        scsi_controllers:
          - bus_number: 0
            controller_type: paravirtual
        network_adapters:
          - network: "VM Network"
            adapter_type: vmxnet3
          - network: "nestedtrunk"
            adapter_type: vmxnet3
          - network: "nestedtrunk"
            adapter_type: vmxnet3
          - network: "nestedtrunk"
            adapter_type: vmxnet3
        cdroms:
          - iso_media_path: "[lex1] /VMware-VMvisor-Installer-8.0U2b-23305546.x86_64.iso"
            device_node: "IDE(0:0)"
            connect_at_power_on: true
      loop: "{{ vm_list }}"
      register: vm_creation_results

    - name: Power on the VMs
      vmware.vmware.vm_powerstate:
        hostname: "{{ esxi_host }}"
        username: "{{ esxi_user }}"
        password: "{{ esxi_password }}"
        validate_certs: false
        name: "{{ item.vm_name }}"
        state: "powered-on"
      loop: "{{ vm_list }}"