---
# Playbook to deploy multiple nested ESXi VMs using the certified vmware.vmware collection
- name: Deploy Multiple Nested ESXi VMs
  hosts: localhost
  connection: local
  gather_facts: false
  
  vars:
    esxi_host: "192.168.50.108"
    esxi_user: "root"
    esxi_password: "VMware1!VMware1!VMware1!VMware1!"
    vm_folder: "/vm"
    
    vm_list:
      - vm_name: "esx13"
      - vm_name: "esx14"
    
  tasks:
    - name: Create Nested ESXi VMs
      vmware.vmware.vm:
        hostname: "{{ esxi_host }}"
        username: "{{ esxi_user }}"
        password: "{{ esxi_password }}"
        validate_certs: false
        name: "{{ item.vm_name }}"
        folder: "{{ vm_folder }}"
        state: present
        guest_id: "vmkernel8Guest"
        hardware:
          memory_mb: 81920
          num_cpus: 56
          scsi: paravirtual
          nested_virt: true
        disks:
          - size: "40gb"           # Changed from size_gb to size (requires units like 'gb')
            device_node: "scsi0:0" # Required by the certified collection
            type: thin
            datastore: "sata4b"
        nics:
          - name: "VM Network"
            adapter_type: vmxnet3
          - name: "nestedtrunk"
            adapter_type: vmxnet3
          - name: "nestedtrunk"
            adapter_type: vmxnet3
          - name: "nestedtrunk"
            adapter_type: vmxnet3
        cdroms:
          - type: iso
            iso_path: "[lex1] /VMware-VMvisor-Installer-8.0U2b-23305546.x86_64.iso"
            device_node: "ide0:0"
            state: present
      loop: "{{ vm_list }}"
      register: vm_creation_results

    - name: Power on the VMs
      vmware.vmware.vm_powerstate:
        hostname: "{{ esxi_host }}"
        username: "{{ esxi_user }}"
        password: "{{ esxi_password }}"
        validate_certs: false
        name: "{{ item.vm_name }}"
        state: "powered-on"
      loop: "{{ vm_list }}"