---
# Playbook to deploy nested ESXi VM using Host CD-ROM
- name: Deploy Nested ESXi VM with Host CD-ROM
  hosts: localhost
  connection: local
  gather_facts: false
  
  vars:
    esxi_host: "192.168.50.108"
    esxi_user: "root"
    esxi_password: "VMware1!VMware1!VMware1!VMware1!"
    vm_name: "NestedESXiHost01"
    iso_datastore_path: "[sata4tb] iso/VMware-VMvisor-Installer-8.0U2b-23305546.x86_64.iso"
    
  tasks:
    # 创建 VM（带主机 CD-ROM）
    - name: Create VM with host CD-ROM
      community.vmware.vmware_guest:
        hostname: "{{ esxi_host }}"
        username: "{{ esxi_user }}"
        password: "{{ esxi_password }}"
        validate_certs: false
        name: "{{ vm_name }}"
        state: present
        guest_id: "vmkernel8Guest"
        
        hardware:
          memory_mb: 4096
          num_cpus: 2
          scsi: paravirtual
        
        disk:
          - size_gb: 40
            type: thin
            datastore: "sata4b"
        
        networks:
          - name: "VM Network"
            device_type: vmxnet3
        
        # 使用主机 CD-ROM 设备
        cdrom:
          - controller_type: ide # Can also be 'sata'
            controller_number: 0
            unit_number: 0
            iso_path: "[lex1] /VMware-VMvisor-Installer-8.0U2b-23305546.x86_64.iso"
            type: iso
            state: present

        
    # 开机
    - name: Power on VM
      community.vmware.vmware_guest_powerstate:
        hostname: "{{ esxi_host }}"
        username: "{{ esxi_user }}"
        password: "{{ esxi_password }}"
        validate_certs: false
        name: "{{ vm_name }}"
        state: "powered-on"
      register: power_result
      
    - name: Show power result
      debug:
        msg: "VM powered on: {{ 'Success' if power_result.changed else 'Already on' }}"