---
- name: Deploy Nested ESXi VM
  hosts: parent_esxi_host
  gather_facts: false
  vars:
    esxi_vm_name: "NestedESXiHost01"

  tasks:
    - name: Create VM with complete CD-ROM configuration
      community.vmware.vmware_guest:
        hostname: "{{ inventory_hostname }}"
        username: "{{ ansible_user }}"
        password: "{{ ansible_password }}"
        name: "{{ esxi_vm_name }}"
        folder: "/vm"
        guest_id: "vmkernel8Guest"
        state: present
        
        hardware:
          memory_mb: 4096
          num_cpus: 2
          scsi: paravirtual
          memory_reservation_lock: false
          boot_firmware: "bios"
        
        disk:
          - size_gb: 40
            type: thin
            datastore: "sata4b"
            controller_type: "paravirtual"
            unit_number: 0
        
        # Complete CD-ROM configuration with all optional params
        cdrom:
          - type: "iso"
            iso_path: "[sata4b] iso_files/VMware-VMvisor-Installer-8.0U2b-23305546.x86_64.iso"
            controller_type: "ide"
            unit_number: 0
            state: "present"
            connected: true
            start_connected: true
        
        networks:
          - name: "VM Network"
            device_type: "vmxnet3"
            mac_type: "generated"
        
        validate_certs: false
      delegate_to: localhost
      register: vm_result

    - name: Power on VM
      community.vmware.vmware_guest_powerstate:
        hostname: "{{ inventory_hostname }}"
        username: "{{ ansible_user }}"
        password: "{{ ansible_password }}"
        name: "{{ esxi_vm_name }}"
        state: poweredon
        validate_certs: false
      delegate_to: localhost
      when: vm_result.changed
