---
- name: Deploy Nested ESXi VM
  hosts: parent_esxi_host
  gather_facts: false
  vars:
    esxi_vm_name: "NestedESXiHost01"

  tasks:
    - name: Create VM with supported CD-ROM parameters
      community.vmware.vmware_guest:
        hostname: "{{ inventory_hostname }}"
        username: "{{ ansible_user }}"
        password: "{{ ansible_password }}"
        name: "{{ esxi_vm_name }}"
        folder: "/vm"
        guest_id: "vmkernel8Guest"
        state: present
        
        hardware:
          memory_mb: 4096
          num_cpus: 2
          scsi: paravirtual
        
        disk:
          - size_gb: 40
            type: thin
            datastore: "sata4b"
        
        # CD-ROM with ONLY supported parameters
        cdrom:
          - type: "iso"
            iso_path: "[sata4b] iso_files/VMware-VMvisor-Installer-8.0U2b-23305546.x86_64.iso"
            controller_type: "ide"
            unit_number: 0
            # Only these are supported per error message:
            # controller_number (optional)
            # controller_type (optional) 
            # iso_path (required for type=iso)
            # state (optional)
            # type (required)
            # unit_number (optional)
        
        networks:
          - name: "VM Network"
            device_type: "vmxnet3"
        
        validate_certs: false
      delegate_to: localhost
      register: vm_result

    - name: Power on VM
      community.vmware.vmware_guest_powerstate:
        hostname: "{{ inventory_hostname }}"
        username: "{{ ansible_user }}"
        password: "{{ ansible_password }}"
        name: "{{ esxi_vm_name }}"
        state: poweredon
        validate_certs: false
      delegate_to: localhost
      when: vm_result.changed
