---
#
# Playbook to deploy the first NSX Appliance node. Also checks the node
# status
#
- hosts: 127.0.0.1
  connection: local
  become: yes
  # vars:
  #   ansible_python_interpreter: /usr/local/bin/python3
  # vars_files:
  #   - deploy_nsx_cluster_vars.yml
  tasks:
    - name: deploy NSX Manager OVA
      vmware.ansible_for_nsxt.nsxt_deploy_ova:
        # ovftool_path: "/root/ovftool"
        # #datacenter: "{{ nsx_node1['datacenter'] }}"
        # datastore: "{{ nsx_node1['datastore'] }}"
        # portgroup: "{{ nsx_node1['portgroup'] }}"
        # #cluster: "{{ nsx_node1['cluster'] }}"
        # vmname: "{{ nsx_node1['hostname'] }}"
        # hostname: "{{ nsx_node1['hostname'] }}"
        # dns_server: "{{ dns_server }}"
        # dns_domain: "{{ domain }}"
        # ntp_server: "{{ ntp_server }}"
        # gateway: "{{ gateway }}"
        # ip_address: "{{ nsx_node1['mgmt_ip'] }}"
        # netmask: "{{ netmask }}"
        # admin_password: "{{ nsx_password }}"
        # cli_password: "{{ nsx_password }}"
        # path_to_ova: "{{ nsx_ova_path }}"
        # ova_file: "{{ nsx_ova }}"
        # vcenter: "{{ compute_manager['mgmt_ip'] }}"
        # vcenter_user: "{{ compute_manager['username'] }}"
        # vcenter_passwd: "{{ compute_manager['password'] }}"
        # deployment_size: "small"
        # role: "nsx-manager nsx-controller"
        ovftool_path: "/root/ovftool"
        datacenter: "datacenter"
        datastore: "sata4b"
        portgroup: "VM Network"
        cluster: "c"
        vmname: "nsx61"
        hostname: "nsx61"
        dns_server: "192.168.50.53"
        dns_domain: "eng.vmware.com"
        ntp_server: "192.168.50.53"
        gateway: "192.168.50.53"
        ip_address: "192.168.50.61"
        netmask: "255.255.255.0"
        admin_password: "VMware1!VMware1!"
        cli_password: "VMware1!VMware1!"
        path_to_ova: "/root"
        ova_file: "nsx-unified-appliance-4.2.0.0.0.24105821.ova"
        vcenter: "192.168.50.8"
        vcenter_user: "administrator@vsphere.local"
        vcenter_passwd: "VMware1!VMware1!"
        deployment_size: "medium"
        role: "NSX Manager"
    - name: Check manager status
      vmware.ansible_for_nsxt.nsxt_manager_status:
          username: "admin"
          password: "VMware1!VMware1!"
          validate_certs: false
          wait_time: 50