---
# Playbook to deploy and configure a nested ESXi VM on a standalone host
- name: Deploy Nested ESXi VM
  hosts: parent_esxi_host
  gather_facts: false
  remote_user: root 
  connection: network_cli 
  vars:
    esxi_vm_name: "NestedESXiHost01"
    datacenter_name: "ha-datacenter"
    datastore_name: "datastore1"      
    iso_path: "[datastore1] iso_files/VMware-ESXi-8.0U2-22380479-Lenovo-2.0-amd64.iso"
    nested_vm_memory_mb: 4096
    nested_vm_cpus: 2
    nested_vm_disk_size_gb: 40
    nested_vm_network: "VM Network"

  tasks:
    - name: Ensure the nested ESXi VM is present and configured
      community.vmware.vmware_guest:
        hostname: "{{ inventory_hostname }}"
        username: "{{ ansible_user }}"
        password: "{{ ansible_password }}"
        datacenter: "{{ datacenter_name }}"
        name: "{{ esxi_vm_name }}"
        state: present

        # --- Hardware parameters that MUST be nested ---
        hardware:
          memory_mb: "{{ nested_vm_memory_mb }}"
          num_cpus: "{{ nested_vm_cpus }}"
          scsi: paravirtual # 'scsi' is a supported parameter name inside 'hardware'
        # --- End hardware block ---

        # --- Disk and CDROM MUST be top-level parameters taking lists ---
        disk:
          - size_gb: "{{ nested_vm_disk_size_gb }}"
            type: thin
            datastore: "{{ datastore_name }}"
        
        cdrom:
          - type: iso
            iso_path: "{{ iso_path }}"
            state: present
        # --- End top-level parameters ---
        
        networks:
          - name: "{{ nested_vm_network }}"
            ip: ""
            device_type: vmxnet3

        wait_for_ip_address: false
        validate_certs: false
      delegate_to: localhost
      register: vm_deploy_status

    - name: Power on the newly created VM to start the OS installation
      community.vmware.vmware_guest_powerstate:
        hostname: "{{ inventory_hostname }}"
        username: "{{ ansible_user }}"
        password: "{{ ansible_password }}"
        datacenter: "{{ datacenter_name }}"
        name: "{{ esxi_vm_name }}"
        state: poweredon
        validate_certs: false
      delegate_to: localhost