---
- hosts: 127.0.0.1
  connection: local
  become: yes
  tasks:
    - name: deploy NSX Manager OVA
      vmware.ansible_for_nsxt.nsxt_deploy_ova:
        ovftool_path: "/root/ovftool"
        datacenter: "datacenter"
        datastore: "sata4b"
        portgroup: "VM Network"
        cluster: "c"
        vmname: "nsx61.corp.internal"
        hostname: "nsx61.corp.internal"
        dns_server: "192.168.50.53"
        dns_domain: "corp.internal"
        ntp_server: "192.168.50.53"
        gateway: "192.168.50.53"
        ip_address: "192.168.50.61"
        netmask: "255.255.255.0"
        admin_password: "VMware1!VMware1!"
        cli_password: "VMware1!VMware1!"
        path_to_ova: "/root"
        ova_file: "nsx-unified-appliance-4.2.0.0.0.24105821.ova"
        vcenter: "192.168.50.8"
        vcenter_user: "administrator@vsphere.local"
        vcenter_passwd: "VMware1!VMware1!"
        deployment_size: "medium"
        role: "NSX Manager"
        ssh_enabled: true
    - name: Check manager status
      vmware.ansible_for_nsxt.nsxt_manager_status:
          username: "admin"
          password: "VMware1!VMware1!"
          validate_certs: false
          wait_time: 50