---
# Playbook to deploy and configure a nested ESXi VM on a standalone host
- name: Deploy Nested ESXi VM
  hosts: parent_esxi_host
  gather_facts: false
  vars:
    esxi_vm_name: "NestedESXiHost01"
    datacenter_name: "ha-datacenter"
    datastore_name: "sata4b"      
    iso_path: "[sata4b] iso_files/VMware-VMvisor-Installer-8.0U2b-23305546.x86_64.iso"
    nested_vm_memory_mb: 4096
    nested_vm_cpus: 2
    nested_vm_disk_size_gb: 40
    nested_vm_network: "VM Network"
    folder: "/vm"

  tasks:
    - name: Ensure the nested ESXi VM is present and configured
      community.vmware.vmware_guest:
        hostname: "{{ inventory_hostname }}"
        username: "{{ ansible_user }}"
        password: "{{ ansible_password }}"
        datacenter: "{{ datacenter_name }}"
        name: "{{ esxi_vm_name }}"
        folder: "{{ folder }}"
        guest_id: "vmkernel8Guest"
        state: present

        # --- Hardware parameters that MUST be nested ---
        hardware:
          memory_mb: "{{ nested_vm_memory_mb }}"
          num_cpus: "{{ nested_vm_cpus }}"
          scsi: paravirtual
          nested_virt: true  # Enable nested virtualization
        
        # --- Disk and CDROM MUST be top-level parameters taking lists ---
        disk:
          - size_gb: "{{ nested_vm_disk_size_gb }}"
            type: thin
            datastore: "{{ datastore_name }}"
        
        # FIXED CD-ROM CONFIGURATION - Add controller_type and unit_number
        cdrom:
          - type: "iso"
            iso_path: "{{ iso_path }}"
            state: "present"
            controller_type: "ide"  # Explicitly set controller type
            unit_number: 0          # Explicitly set unit number
        
        networks:
          - name: "{{ nested_vm_network }}"
            device_type: "vmxnet3"

        wait_for_ip_address: false
        validate_certs: false
      delegate_to: localhost
      register: vm_deploy_status

    - name: Power on the newly created VM to start the OS installation
      community.vmware.vmware_guest_powerstate:
        hostname: "{{ inventory_hostname }}"
        username: "{{ ansible_user }}"
        password: "{{ ansible_password }}"
        datacenter: "{{ datacenter_name }}"
        name: "{{ esxi_vm_name }}"
        state: poweredon
        validate_certs: false
      delegate_to: localhost
      when: vm_deploy_status.changed
