apiVersion: v1
kind: Pod
metadata:
  name: nginx
  namespace: avgo
spec:
  containers:
  - name: private-reg-container
    image: edp2harbor.psa.com.sg/nginx/nginx:latest
    tty: true
  imagePullSecrets:
  - name: regcred


